<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--控制台-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--INFO文件输出-->
    <appender name="fileInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤ERROR-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /var/log/tomcat/sell/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--ERROR日志文件输出-->
    <appender name="fileErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--只输出ERROR日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /var/log/tomcat/sell/error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <root level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileInfoAppender"/>
        <appender-ref ref="fileErrorAppender"/>
    </root>
</configuration>